# Copia este archivo como .env y rellena los valores
POSTGRES_PASSWORD=tu_password_segura_aqui
PUBLIC_IP=123.45.67.89
APP_PORT=8080
PG_PORT=5433
# Imgur Client-ID para subir imagenes cuando el servidor no es accesible publicamente
# Registrate en https://api.imgur.com/oauth2/addclient
IMGUR_CLIENT_ID=
